/******** Primary Colors **********/
$color-ss-white: #ffffff;
$color-ss-gray: #808080;
$color-ss-border: #d8d8d8;

/******** Background Colors **********/
$color-ss-background: #1e56eb;
$color-ss-background-light: #409eff;